<div>
  <h4 class='mv3'>
    {{#if loginState}}
      Login
    {{else}}
      Sign Up
    {{/if}}
  </h4>
  <form {{action 'loginOrSignUp' on='submit'}} class='flex flex-column'>
    {{#unless loginState}}
      {{input type='text' class='mb2' placeholder='Your name' value=name}}
    {{/unless}}
    {{input type='text' class='mb2' placeholder='Your email address' value=email}}
    {{input type='password' class='mb2' placeholder='Choose a safe password' value=password}}
    <div class='flex'>
      {{input type='submit' class='mr2' value=(if loginState 'login' 'create account')}}
      <button {{action 'changeLoginState'}}>
        {{#if loginState}}
          need to create an account?
        {{else}}
          already have an account?
        {{/if}}
      </button>
    </div>
  </form>
</div>
